.navbar {
  background-color: #000117;
  }
  
  .nav-item:hover {
    color: #a3e2ff;
  }

  .nav-item .nav-link:hover {
    color: #a3e2ff;
    Transform: scale(1.05); 
  }

.navbar .nav-link.active {
  font-weight: bold;
  color: #a3e2ff;
  Transform: scale(1.05);
}

.nav-link {
  color: #a3e2ff;
}

.navbar-nav {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.small-screen-menu {
  display: none;
}
.dropdown-content {
  display: none;
}

  /* Responsive: Stack button below input on smaller screens */
  @media (max-width: 500px) {
    .navbar-nav {
      display: none;
    }

    .small-screen-menu {
      color: #a3e2ff;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .dropdown-content {
      display: none;
    }
    
    /* Show the dropdown content when 'show' class is added */
    .dropdown-content.show {
      display: block;
    }

    .hamburger-button {
      background-color: transparent;
      color: #a3e2ff;
      border: none;
    }
  }


