@font-face {
    font-family: 'QueensidesMedium'; /* Name your font family */
    src: url('/assets/fonts/QueensidesMedium-x30zV.ttf'); /* Locate the .ttf file within your directory*/
  }

.title {
    text-align: center;
    padding: 10px;
    font-family: 'QueensidesMedium';
  }