@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:wght@400..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.h1-text-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.hero-text-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.regular-text-font {
  font-family: "Lora";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.italic-text-font {
  font-family: "Lora";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

h4 {
  font-family: "Lora";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
